@import "tailwindcss";

@media print {
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
}

@page {
  size: A4;
  margin: 16mm;
}



.resume-page {
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  background: white;
}


